spring:
  docker:
    compose:
      enabled: false

  liquibase:
    enabled: false

  application:
    name: Employees-Management-System

  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: hr
    password: hr
    driver-class-name: oracle.jdbc.OracleDriver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
        jdbc:
          fetch_size: 50

management:
  metrics:
    enable:
      jdbc: false

  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  tracing:
    sampling:
      probability: 1.0
    enabled: false

  otlp:
    metrics:
      export:
        enabled: false
    tracing:
      export:
        enabled: false

logging:
  pattern:
    level: "[%traceId-%spanId]"
    console: "%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n"


  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE