name: Enterprise Fullstack CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  backend:

    name: Backend Build + Security Scan
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java Environment
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Make Gradle Wrapper Executable
        run: chmod +x gradlew

      - name: Build Backend
        run: ./gradlew build --no-daemon

      # â­ OWASP Dependency Scan
      - name: OWASP Dependency Scan
        uses: dependency-check/Dependency-Check_Action@master
        with:
          project: EMS-Backend
          path: .
          format: "HTML"
          out: reports
          args: >
            --failOnCVSS 7

      - name: Upload Security Report
        uses: actions/upload-artifact@v4
        with:
          name: backend-security-report
          path: reports


  frontend:

    name: Frontend Build + Security Scan
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node + Cache
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: npm
          cache-dependency-path: ./ui/package-lock.json

      - name: Install Dependencies
        working-directory: ui
        run: npm ci

      - name: npm Audit Security Scan
        working-directory: ui
        run: npm audit --audit-level=high || true

      - name: Build React App
        working-directory: ui
        run: npm run build

      - name: Upload Frontend Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: ui/dist