name: Fullstack CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  backend:
    name: Build Backend (Spring Boot)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make gradlew executable
        working-directory: backend
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: backend
        run: ./gradlew build

  frontend:
    name: Build Frontend (React + Vite)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        working-directory: ui
        run: npm install

      - name: Build React App
        working-directory: ui
        run: npm run build